<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="true">
    <property name="LOG_LEVEL" value="info"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{ISO8601} [%-5level] %logger{10} %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>